spring:
  flyway:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/aquarium}
    user: ${DB_USERNAME:fluidtokens}
    password: ${DB_PASSWORD:password}
    schemas: ${DB_SCHEMA:public}
    locations:
      - classpath:db/store/{vendor}
    out-of-order: true
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/aquarium}
    username: ${DB_USERNAME:fluidtokens}
    password: ${DB_PASSWORD:password}

network: mainnet

wallet:
  mnemonic: ""

aquarium:
  staking:
    token:
      policy: 577f0b1342f8f8f4aed3388b80a8535812950c7a892495c0ecdf0f1e
      name: 0014df10464c4454
  tank:
    ref-input:
      txHash: 354ffe7958d62a8a2bf0b0bd97a06694d59dc49b6d02f1ab40165a3955257168
      outputIndex: 0

scheduling:
  transaction-processor:
    delay-minutes: ${SCHEDULING_TRANSACTION_PROCESSOR_DELAY_MINUTES:5}

blockfrost:
  url: https://cardano-mainnet.blockfrost.io/api/v0/
  key: ""

store:
  cardano:
    host: backbone.mainnet.cardanofoundation.org
    port: 3001
    protocol-magic: 764824073
    # Start from the block that minted the ref input for the contract
    sync-start-blockhash: 586ead1770fc2a59021b824bc0d65bf1d6060585384f257971204d5925f054c2
    sync-start-slot: 154984561
    keep-alive-interval: 1000
  blocks:
    epoch-calculation-interval=14400:  # 14400 = 4 hours

apiPrefix: /api/v1

management:
  endpoints:
    web:
      exposure:
        include: health,prometheus

---
spring:
  config:
    activate:
      on-profile: preview

network: preview

wallet:
  mnemonic: ""

aquarium:
  staking:
    token:
      policy: 0b77d150c275bd0a600633e4be7d09f83c4b9f00981e22ac9c9d3f62
      name: 0014df1074464c4454
  tank:
    ref-input:
      txHash: 782106250a8327d54bcd52d608e72bfa92d5263e8d009a53c1570a1aee1d2662
      outputIndex: 0

blockfrost:
  url: https://cardano-preview.blockfrost.io/api/v0/
  key: ""

store:
  cardano:
    host: ""
    port: 0
    protocol-magic: 2
    # Start from the block that minted the ref input for the contract
    sync-start-blockhash: 0e459daa0813334b79da2bac23d3324b604ee04209679bed08b6f49cac82cb4e
    sync-start-slot: 71971209
    keep-alive-interval: 1000
  blocks:
    epoch-calculation-interval=14400:  # 14400 = 4 hours
