name: Docker Native Build and Push

on:
  push:
    branches:
      - main
      - preview
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build-native:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Generate version
      id: version
      run: |
        echo "GITHUB_REF_NAME: $GITHUB_REF_NAME"
        
        if [[ $GITHUB_REF_NAME == "preview" ]]; then
          VERSION=$(date +'%Y.%m.%d')-pv
        elif [[ $GITHUB_REF_NAME == v* ]]; then
          VERSION=${GITHUB_REF_NAME#v}
        else
          VERSION=$(date +'%Y.%m.%d')
        fi

        echo "Generated version: ${VERSION}"
        if [ -z "$VERSION" ]; then
          echo "Error: VERSION is empty"
          exit 1
        fi
        echo "version=${VERSION}" >> $GITHUB_OUTPUT

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Native Docker image
      run: |
        VERSION=${{ steps.version.outputs.version }}
        DOCKER_IMAGE_NAME=fluidtokens/ft-aquarium-node
        DOCKER_IMAGE="${DOCKER_IMAGE_NAME}:${VERSION}-native"
        
        if [ $GITHUB_REF_NAME == "preview" ]; then
          DOCKER_IMAGE_LATEST="${DOCKER_IMAGE_NAME}:latest-pv-native"
        else
          DOCKER_IMAGE_LATEST="${DOCKER_IMAGE_NAME}:latest-native"
        fi
        
        docker build -f Dockerfile.native -t "${DOCKER_IMAGE}" -t "${DOCKER_IMAGE_LATEST}" --push .